<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css"/>
</head>
    <body>

        <div class="myfont">
            <h1 class ="titre">Mise en beauté</h1>
            <h2 class ="sous-titre">Je suis un sous-titre</h2>
        </div>

    <div id="bloc">
        <div class="bodyrose">
          <h1><center><%= RUBY_VERSION  %></center> </h1>
        </div>

        <div class="violet">
            <img class="mina" src = "https://upload.wikimedia.org/wikipedia/commons/3/3a/Gianni_Mina_8%2C_2015_Wimbledon_Qualifying_-_Diliff.jpg" height="200" width="400"/>
        </div>

    </div>
    <a href="http://localhost:8080/web02/ex00/piscineweb.html"><p>lien vers piscineweb.html</p></a>
    </body>
    

    <footer>
        <div id="footerclass">
            <p>Un footer.</p>
        </div>
    </footer>
        
</html>
