<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulaire</title>
  </head>
  <style>
    h1, form {text-align:center;
    font-family:"Comic Sans MS";
    color:#498ddb;
  background-color:#81DAF5}
  </style>

  <body>
    <h1> Bienvenue</h1>
    <h2> Log In</h2>

    <%= form_tag ("/search" method: "post").to_s %>
    <%= label_tag :Name, "Entrez votre nom" %>
    <%= text_field_tag :Name %>
    <%= submit_tag "Valider" %>

    <%= label_tag :prenom, "Entrez votre prenom" %>
    <%= text_field_tag :prenom %>
    <%= submit_tag "Valider" %>

    <% if servlet_request.query['Valider'] == "submit"%>
    <%=  "Bonjour #{Nom} #{prenom}"%>
    <%= else
    puts "Sorry"%>
    <%end%>

  </body>
</html>
